@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.caixa{
padding: 10px;
border-radius: 10px;
border: solid 1px;
}
body{
    background-image: url("imagens-firebase/cidade4.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.titulo{
    text-align: center;
    margin-top: 90px;
    font-family: 'Kumbh Sans', sans-serif;
}
.label{
    font-family: 'Kumbh Sans', sans-serif;
    margin-bottom: 30px;
   
}
.container-cadastro{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);    
    width: 50vw;
    height: 70vh;
    border: solid 1px white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.955);
    overflow: auto;
}
.cadastros{
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.cadastro:not(:last-child){
    margin-right: 10px;
}
.container-button{
    display: flex;
    position: relative;
   width: 100%;
    top: 187px;
    justify-content: center;
    border-radius: 5px;
    
}
.button{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    background-color: white;
    border: solid 1px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.123);
    
}
.button:not(:last-child){
    margin-right: 30px;
}
.mostrar{
    display: block;
}
.ocultar{
    display: none;
}
.fundo-sucesso{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.348);
    display: none;
}
.container-cadastro-sucesso{
    background-color: white;
    position: relative;
   margin: auto;
   margin-top: 250px;
   width: 50%;
   height: 40%;
   border-radius: 10px;
}
p{
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    top: 50%;
    position: absolute;
    font-size: 1.3rem;
    width: 100%;

}
.fechar{
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
    color: white;
    position: absolute;
    top: -20px;
    right: 0px;
}


.fundo-consulta{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.348);
    display: none;
    
}
.container-fundo-consulta{
    background-color: white;
    position: relative;
   margin: auto;
   margin-top: 65px;
   width: 60%;
   height: 70%;
   border-radius: 10px;

}
.caixa-consulta{
   
    margin-left: 20px;
    border-radius: 10px;
    border: solid 1px;
    padding: 7px;
    width: 212px;
   
}
.cadastro-consulta{
    margin-left: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0;
}
.titulo-consulta{
    text-align: center;
    padding-top: 70px;
    margin-bottom: 45px;
    font-family: 'Kumbh Sans', sans-serif;
}
.caixa-consulta-b{
    display: inline-block;
    width: 200px;
    border-bottom: solid 1px;
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
    
}
#nome-consulta{
    width: 225px;
}
.cadastro-consulta:not(:last-child){
margin-bottom: 30px;
}
.container-button-acessar{
    display: flex;
    position: relative;
    top: 30px;
   justify-content: center;
    border-radius: 5px;
    width: 100%;
    
}
.label-consulta{
    margin-bottom: 0;
    font-family: 'Kumbh Sans', sans-serif;
    align-self: center;
  }
@media  screen and (max-width:1200px){
.container-cadastro{
    width: 100%;
    border-radius: 0;
}
.container-fundo-consulta{
   padding: 30px;

}

}

@media  screen and (max-width:716px){
    .button:not(:last-child){
        margin-right: 10px;
        }
    .container-fundo-consulta{
        width: 100%;
        padding: 0;
        border-radius: 0;
        overflow: auto;
        margin-top: 94px;
    }
  #fechar-consulta{
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
    color: black;
    position: absolute;
    top: 8px;
   right: 8px;
  }
 
  .caixa-consulta{
    margin-top: 0;
  }
 
  
    }
@media  screen and (max-width:600px){
 .container-cadastro{
    height: 75vh;
 }

   .cadastros{
    flex-direction: column;
    top: 0;
    left: 0;
    transform: translate(0,0);
    align-items: center;
    position: relative;
    
   }
   .cadastro:not(:last-child){
    margin-bottom: 30px;
    margin-right: 0px;
   }
   .titulo{
    margin-top: 20px;
    margin-bottom: 30px;
   }
   #cpf{
    margin-left: 10px;
   }
   .container-cadastro-sucesso{
    width: 100%;
    border-radius: 0;
}
.container-button{
    top: 40px;
}
.label{
    margin-bottom: 5px;
}
#cpf{
    margin: 0;
}
.cadastro{
    display: flex;
    flex-direction: column;
}
  
    }
    @media  screen and (max-width:400px){
        .container-button-acessar{
          flex-direction: column;
           
        }
        .button{
            
            margin-bottom: 30px;
            align-self: center;
        }
        #bt-ver{
            margin-right: 0px;
        }
        #bt-editar{
            margin-right: 0px;
        }
    
      
        }